.cart {
  padding: 10px 0 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
}

.header > h2 {
  width: 100%;
}

.header > img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.cart_container_list_header {
  display: flex;
  margin: 0 20%;
}

.header_header1 {
  width: 70%;
  text-align: left;
}
.header_header2 {
  text-align: right;
  width: 30%;
}

.cart_container_list_item_container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 17px;
}

.cart_container_list_item {
  padding: 10px 0;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 17px;
}

.cart_container_list_item_total {
  font-weight: 600;
  border-top: 1px solid black;
  padding-top: 20px;
  margin-top: 10px;
}

.cart_container_list_item_discount {
  color: green;
  padding: 10px 0;
  font-weight: 600;
  font-size: 17px;
}

.cart_container_list_offers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 60%;
}

.cart_container_list_offers > select {
  width: 24%;
  border-radius: 6px;
  height: 30px;
}

.cart_container_list_item_container > button {
  margin: 0 10px;
  cursor: pointer;
  border: 0.5px solid grey;
  border-radius: 50%;
  padding: 1px 6px;
  font-size: 13px;
}
